@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(10,10,10);
    background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(75,75,78,1) 35%, rgba(16,17,17,1) 100%);
}

.topnav {
    background: rgb(10,10,10);
    background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(75,75,78,1) 35%, rgba(16,17,17,1) 100%);
    overflow: hidden;
    padding: 10px;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(15, 146, 179);
    box-shadow: 0 12px 16px 0 rgba(15, 146, 179, 0.24),0 17px 50px 0 rgba(57, 187, 204, 0.19);
    color: black;
}
  
  /* Add a color to the active/current link */

.topnav .search-bar {
    float: right;
    padding: 14px 16px;
    border: none;
    font-size: 17px;
    width: 400px;
    margin: auto;
    
}

.topnav #header-search {
    float: right;
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.topnav #header-search:focus {
    width: 100%;
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.player-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    font-size: 12px;
}

.music-player {
    height: 85vh;
    width: 50vw;
    background: rgb(52,71,97);
    background: linear-gradient(0deg, rgba(52,71,97,1) 0%, rgba(30,32,32,1) 100%);
    border-radius: 20px;                                                                                                                                     
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-top: 3%;
    margin-left: 3%;
}
  
.music-img-container {
    margin: auto;
    width: 90%;
    height: 65%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.music-img-container img {   
    display: block;
    width: 100%;
    height: auto;
    margin: auto;                                                                                                         
    opacity: 0;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
    transition: .5s;
}
  
.music-img-container img.active {
    transition: .5s;
    opacity: 1;
    width: 100%;
    height: 100%;
}
  
  
#title {
    font-size: 50px;
    text-align: center;                                                                                                                                    
    margin-top: 40px;
}
  
#artist {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 0;
}
  
  /* Progress */
.progress-container-music {
    background: #c7c2c2;
    border-radius: 5px;
    cursor: pointer;
    margin: 65px 30px;
    height: 4px;
    width: 90%;
}

.progress {
    background: #16b2b8;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
  
.duration-wrap {
    background-color: black;
    position: relative;
    top: 25px;
    display: flex;
    justify-content: space-between;
}
  /* Controls */
.music-player-controlss {
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}
  
.fas {
    font-size: 30px;
    color: rgb(199, 194, 194);
    margin-right: 0px;
    margin-left: 13%;
    padding-left: 10%;
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    filter: brightness(80%);
}
  
.main-button {
    font-size: 40px;
    position: relative;
    top: 3px;
}
  /* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
.player-container {
    width: 95vw;
}
    
.img-container {
    left: 29px;
}
h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}
    
.player-controls {
    top: 10px;
    left: 100px;
}
}

.playlist {
    height: 85vh;
    width: 30vw;
    background: rgb(52,71,97);
    background: linear-gradient(0deg, rgba(52,71,97,1) 0%, rgba(30,32,32,1) 100%);
    border-radius: 20px;                                                                                                                                         
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-top: 3%;
    margin-left: auto;
    margin-right: 3%;
}

.search-list {
    width: 100%;
    height: 8%;
}

.playlist #playlist-search {
    width: 30%;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 5%;
    margin-right: 16px;
    font-size: 17px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.playlist #playlist-search:focus {
    width: 70%;
}
  
.music-list {
    text-decoration: none;
    list-style-type: none;
} 
